.chat-container {
    background-image: url("../../public/img/배경2.png");
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
}
 
.chat-list{
    position: absolute;
    overflow: hidden;
    width: 600px;
    height:600px;
    left: 80px;
    top: 80px;
}
  
  /* 유저의 채팅 스타일 */
  .user-chat {
    text-align: right;
    color: #000;
    background-color: rgba(255, 255, 255, 0.1); /* 투명도 추가 */
    padding: 5px;
  }
  
  /* 관리자(Admin)의 채팅 스타일 */
  .admin-chat {
    text-align: left;
    color: #000;
    background-color: rgba(255, 255, 255, 0.1); /* 투명도 추가 */
    padding: 5px;
  }
  
  /* 입력 창과 버튼들을 감싸는 div 요소의 스타일 */
  .input-button-container {
    position: absolute; /* 절대 위치 설정 */
    bottom: 0; /* 하단에 고정 */
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* 입력 창의 스타일 */
  .input-box {
    flex: 1; /* 남은 공간을 모두 차지하도록 설정 */
    height: 30px;
    padding: 5px;
  }
  
  /* 버튼들의 스타일 */
  .button {
    margin-left: 10px;
    height: 30px;
    padding: 5px 10px;
  }

  /* 여기 부터는 많이 보는 설정집 css */

.h1_view{
color: white;
text-align: center;
}

.td_img{
  position: relative;
  padding: auto;
  margin: 50px;
  color: white;
  left: 200px;
  cursor: pointer;
}
.td_span{
  position: relative;
  padding: auto;
  margin: 50px;
  color: white;
  font-size: 20px;
  left: 200px;
  cursor: pointer;
}
.td_span_span{
  position: relative;
  padding: auto;
  margin: 50px;
  color: white;
  font-size: 20px;
  left: 200px;
}